<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.felker.icshop" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_name"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrandListActivity"
            android:label="@string/title_activity_brand_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.felker.icshop.MainActivity" />
        </activity>
        <activity
            android:name=".BrandStoresActivity"
            android:label="@string/title_activity_brand_stores"
            android:parentActivityName=".BrandListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.felker.icshop.BrandListActivity" />
        </activity>
        <activity
            android:name=".CategorySearchActivity"
            android:label="@string/title_activity_category_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.felker.icshop.MainActivity" />
        </activity>
        <activity
            android:name=".StoreDetailActivity"
            android:label="@string/title_activity_store_detail"
            android:parentActivityName=".BrandStoresActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.felker.icshop.BrandStoresActivity" />
        </activity>
        <activity
            android:name=".CategoryExpandActivity"
            android:label="@string/title_activity_category_expand"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.felker.icshop.MainActivity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
    </application>

</manifest>
